@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.input {
  width: 330px;
  height: 70px;
  font-size: 30px;
  margin-bottom: 7px;
  border: 2px solid black;
  border-radius: 6px;
  padding-left: 5px;
}

.btn {
  width: 62px;
  font-size: 24px;
  margin: 6px 2px;
  padding: 18px 4px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

.btn-eq {
  background-color: #4360d6;
  color: white;
  font-weight: bold;
}

.sup {
  font-size: 14px;
}

/* Media queries */

@media (width <=379px) {

  .btn {
    width: 45px;
    font-size: 15px;
    margin: 6px 0px;
  }

  .sup {
    font-size: 9px;
  }

  .input {
    width: 225px;
    height: 55px;
  }
}